@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    position: absolute;
	width:100%;
	height: 70%
}

section.header-logo-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding: 25px 0 25px 0px;
    background-color: #fff;
}

section.header-logo-menu .container {
    display: flex;
    width: 1100px;
}
  
section.header-logo-menu .container .logo {
    width: 50%;
}
  
section.header-logo-menu .container .logo img {
    width: 40%;
}
  
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
  
.content-sec1 {
    width: 100%;
    display: flex;
}

.content1 {
    width: 450px;
    display: flex;
}

.content1 .profile-picture {
    margin: 0 auto;
}

.content1 img {
    width: 192px;
    height: 192px;
}

.content2 {
    width: 650px;
}

.content2 .information {
    padding-left: 20px;
    padding-top: 10px;
}

.content2 .information .name {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
}

.content2 .information .text {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.line {
    background-color: #4e4e4e;
    height: 2px;
    width: 100%;
}

.text-script p::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
}

.tree-cards {
    width: 100%;
    display: flex;
}

.card {
    width: 33.33%;
    height: 60px;
    margin: 10px;
    border-radius: 18px;
    background-color: red;
}
